@charset "ISO-8859-1";
bor{
  width: 400px;
	padding:5px;
	margin:150px;
  color:black;
  border: 5px solid #000080;
  text-align: center;
  background-color: #c0c0c0;
}
body{
	background-color: #0080c0;
	Color:white;
}
table {
	border: 1px solid #000080;
}
th{
	 background-color: #ff8000;
	 border: 2px solid #111111;
}

tr{
	 background-color: #b8c0c9;
	 border: 2px dotted #000080;
}
a{
	color:red;
	
}
.button {
  width: 105px;
  height: 20px;
  background-image: url('tiny.gif');
  line-height: 20px;
  padding-bottom: 2px;
  vertical-align: middle;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;

  border: 1px solid transparent;
}