<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ElectionPollingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>VotersServlet</servlet-name>
    <servlet-class>com.example.appengine.servlets.VotersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VotersServlet</servlet-name>
    <url-pattern>/voters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.example.appengine.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>com.example.appengine.servlets.CandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/candidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>com.example.appengine.servlets.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ElectionTimeServlet</servlet-name>
    <servlet-class>com.example.appengine.servlets.ElectionTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectionTimeServlet</servlet-name>
    <url-pattern>/election-time</url-pattern>
  </servlet-mapping>
</web-app>